<div style="margin-top: 40px;">
  <div style="margin-left: 90px;">
    <label for="page-size">Select page Size: </label>
    <select name="pageSize" id="page-size" [(ngModel)]="pageSize" (ngModelChange)="selectPageCount()">
      <option [ngValue]=10>10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
    </select>
  </div>
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone#</th>
          <th>Email</th>
          <th>company</th>
          <th>date_entry</th>
          <th>org_num</th>
          <th>address_1</th>
          <th>city</th>
          <th>zip</th>
          <th>geo</th>
          <th>pan</th>
          <th>pin</th>
          <th>ID</th>
          <th>status</th>
          <th>fee</th>
          <th>guid</th>
          <th>date_exit</th>
          <th>date_first</th>
          <th>date_recent</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let rec of data | slice:startIndex:endIndex" let i=index>
        <tr>
          <td class="w-180">{{rec.name}}</td>
          <td class="w-150">{{rec.phone}}</td>
          <td class="w-180">{{rec.email}}</td>
          <td class="w-310">{{rec.company}}</td>
          <td class="w-150">{{rec.date_entry}}</td>
          <td class="w-100">{{rec.org_num}}</td>
          <td class="w-310">{{rec.address_1}}</td>
          <td class="w-180">{{rec.city}}</td>
          <td class="w-100">{{rec.zip}}</td>
          <td class="w-180">{{rec.geo}}</td>
          <td class="w-150">{{rec.pan}}</td>
          <td>{{rec.pin}}</td>
          <td>{{rec.id}}</td>
          <td>{{rec.status}}</td>
          <td>{{rec.fee}}</td>
          <td class="w-310">{{rec.guid}}</td>
          <td class="w-150">{{rec.date_exit}}</td>
          <td class="w-150">{{rec.date_first}}</td>
          <td class="w-150">{{rec.date_recent}}</td>
          <td>{{rec.url}}</td>
          <button mat-flat-button color="accent" (click)="onSubmit(rec.id, rec.status)">Submit</button>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <a (click)="prevPage()" href="#" [class.disable]="startIndex==0"><strong>Previous</strong></a>
      <a *ngFor="let num of getPageSize(data.length); let in=index; let last=last" [class.active]='in+1==currentPage' (click)="changePage(in)" href="#">{{in+1}}</a>
      <a (click)="nextPage()" href="#" [class.disable]="currentPage==pageCount"><strong>Next</strong></a>
    </div>
  </div>
</div>

