
.table-scroll {
    position: relative;
    margin: auto;
    overflow: auto;
    height: 500px;
    width: 87%;
  }
  .table-scroll table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    border: 1px solid lightgrey;
    vertical-align: top;
  }
  .table-scroll thead th {
    background:coral;
    color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .table-scroll tfoot {
    position: fixed;
    bottom: 0;
    color: #fff;
    z-index:4;
  }
    
  .pagination {
    margin-top: 30px;
    background-color: rgb(142, 46, 231);
    display: inline-flex;
    position: sticky;
    left: 0;
    bottom: 0;
  }
    
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: orange;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  button{
    margin-left: 2px;
    margin-top: 2px;
  }

  .disable{
    pointer-events: none;
    cursor: not-allowed; 
    background-color: rgb(226, 222, 222);
  }