/* .container {
    margin-top: 50px;
    display: flex;
  } */

  .container {
    margin-top: 50px;
    z-index: 1;
    top:0;
  }
  .viewport {
    height: 400px;
    width: 100%;
  }

  table {
    width: 100%;
    min-width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
  }

  th,
  td {
    padding: 5px 10px;
    border: 1px solid lightgrey;
    background: #fff;
    vertical-align: top;
  }

  thead th {
    background: rgb(146, 34, 53);
    color: #fff;
    position: sticky;
    top: 0;
  }

  button{
    margin-left: 2px;
    margin-top: 2px;
  }