<div class="container">
    <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone#</th>
                    <th>Email</th>
                    <th>company</th>
                    <th>date_entry</th>
                    <th>org_num</th>
                    <th>address_1</th>
                    <th>city</th>
                    <th>zip</th>
                    <th>geo</th>
                    <th>pan</th>
                    <th>pin</th>
                    <th>ID</th>
                    <th>status</th>
                    <th>fee</th>
                    <th>guid</th>
                    <th>date_exit</th>
                    <th>date_first</th>
                    <th>date_recent</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *cdkVirtualFor="let rec of dataSource">
                <tr>
                    <td class="w-180">{{rec.name}}</td>
                    <td class="w-150">{{rec.phone}}</td>
                    <td class="w-180">{{rec.email}}</td>
                    <td class="w-310">{{rec.company}}</td>
                    <td class="w-150">{{rec.date_entry}}</td>
                    <td class="w-100">{{rec.org_num}}</td>
                    <td class="w-310">{{rec.address_1}}</td>
                    <td class="w-180">{{rec.city}}</td>
                    <td class="w-100">{{rec.zip}}</td>
                    <td class="w-180">{{rec.geo}}</td>
                    <td class="w-150">{{rec.pan}}</td>
                    <td>{{rec.pin}}</td>
                    <td>{{rec.id}}</td>
                    <td>{{rec.status}}</td>
                    <td>{{rec.fee}}</td>
                    <td class="w-310">{{rec.guid}}</td>
                    <td class="w-150">{{rec.date_exit}}</td>
                    <td class="w-150">{{rec.date_first}}</td>
                    <td class="w-150">{{rec.date_recent}}</td>
                    <td>{{rec.url}}</td>
                    <button mat-flat-button color="accent" (click)="onSubmit(rec.id, rec.status)">Submit</button>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</div>