
<div style="margin-left: 10px;">
  <mat-tab-group animationDuration="200ms">
    <mat-tab label="Pagination">
      <app-pagnination></app-pagnination>
    </mat-tab>
    <mat-tab label="Virtual Scroll">
      <app-virtual-scroll></app-virtual-scroll>
    </mat-tab>
  </mat-tab-group>
</div>

