@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


td.w-100{
    min-width: 110px;
  }

td.w-150{
    min-width: 160px;
  }

td.w-180{
    min-width: 180px;
  }

  td.w-220{
    min-width: 220px;
  }
  
  td.w-310{
    min-width: 310px;
  }
